.slides {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  padding: 0;
  list-style-type: none;

  & > * {
    margin-right: 32px;
  }

  & > *:last-child {
    margin-right: 0;
  }

  & li {
    cursor: pointer;
  }
}

.navButtons {
  width: 24px;
  height: 24px;
  margin: 0 12px;
  cursor: pointer;
  user-select: none;

  &:hover {
    path {
      fill: #e3e3e3;
    }
  }
}

.dotsControls {
  display: block;
  text-align: center;
}
