.interactions--container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 14px;
  background-color: thistle;
}

.interactions--list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.interaction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 6px;
  background-color: whitesmoke;
  border: none;
  border-radius: 10px;
  width: 86px;
  height: 86px;
  cursor: pointer;
  font-family: inherit;

  &:hover {
    outline: 2px dashed black;
  }

  &:disabled {
    outline: none;
    cursor: no-drop;
  }

  &:not(:disabled) {
    &:active {
      position: relative;
      top: 2px;
    }
  }
}

.interaction--meta {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.interaction--price {
  display: flex;
  flex-direction: row;
  gap: 2px;
}