.about--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.about--text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 560px;

  & p {
    font-size: 18px;

    &.heading {
      font-size: 30px;
    }
  }
}

.github--container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;

  & .link {
    &:hover {
      text-decoration: underline;
    }
  }

  & .content {
    display: flex;
    flex-direction: row;
    gap: 14px;
  }

  & .info {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 14px;
    align-items: start;
  }
}


.play--link {
  justify-self: center;
}

.play--image {
  transition: 0.8ms ease-in;

  &:active {
    position: relative;
    top: 2px;
  }
}