.game--container {
  display: flex;
  flex-direction: row;
}

.conditions-interactions--container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.conditions-list--container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bar--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 300px;
  background-color: thistle;
  border: 1px solid black;
  border-radius: 14px;
}

.bar {
  width: 280px;
}

.interactions--container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pet--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 30px;
  cursor: pointer;
}

.places--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 40px;
}
