:root {
  --border-radius: 12px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: cornflowerblue;
}

body {
  max-width: 960px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: burlywood;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header--nav {
  ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
  }
}

footer {
  display: flex;
  justify-content: center;
}